/* Add your own custom styles here */


img{
  border-radius: 15px;
}

p a{
  /* font-weight: 600; */
  filter: brightness(1);
  text-decoration: underline;
}

p a:hover{
  /* font-weight: normal; */
  filter: brightness(1.8); /* drop-shadow(0px 0px 1px #aaaaaa);*/
}
